<html lang="en">
  <head>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        margin: 20px auto;
      }

      body div:nth-child(1) {
        text-align: center;
      }

      body div:nth-child(2) {
        text-align: start;
        line-height: normal;
        font-size: 14px;
      }

      h2 {
        line-height: normal;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>

    </div>
    <h2>TaraGo</h2>
    <div>
      <p>Dear user,</p>
      <br>
      <p>Thank you for signing up to our app. Here is your credentials for logging in. Make sure to update your password once successfully logged in.</p>
      <br>
      <p><strong>Email:</strong>&nbsp;{{ email }}</p>
      <p><strong>Password:</strong>&nbsp;{{ password }}</p>
    </div>
  </body>
</html>