<html lang="en">
  <head>
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        margin: 20px auto;
      }

      body div:nth-child(1) {
        text-align: center;
      }

      body div:nth-child(2) {
        text-align: start;
        line-height: normal;
        font-size: 14px;
      }

      h2 {
        line-height: normal;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div>

    </div>
    <h2>TaraGo</h2>
    <div>
      <p>Dear user,</p>
      <br>
      <p>You have been requested to upload supporting documents for your host application. You can upload your document on the link below.</p>
      <br>
      <p><strong>Link:</strong>&nbsp;{{ link }}</p>
    </div>
  </body>
</html>